@page "{Id}"
@model ProjektTurnieju.Organizator.DeleteModel
@{
    ViewData["Title"] = "Usuń";
}

<h2>Czy na pewno usunąć tego zawodnika?</h2>
<br />
@Html.DisplayNameFor(m => Model.uzytkownik.Id):
@Html.DisplayFor(m => Model.uzytkownik.Id)
<br />
@Html.DisplayNameFor(m => Model.uzytkownik.Imie):
@Html.DisplayFor(m => Model.uzytkownik.Imie)
<br />
@Html.DisplayNameFor(m => Model.uzytkownik.Nazwisko):
@Html.DisplayFor(m => Model.uzytkownik.Nazwisko)
<br />
@Html.DisplayNameFor(m => Model.uzytkownik.Nick):
@Html.DisplayFor(m => Model.uzytkownik.Nick)
<br />
<br />
<form method="post">
    <button class="btn btn btn-primary">Usuń</button>
</form>
<br />

<a asp-page="/Organizator/ListaUzytkownikow" class="btn btn-primary btn-large">Anuluj</a>