@page
@model ListaTurniejiModel

@{
    ViewData["Title"] = "Turnieje";
}
@if(User.IsInRole(Role.Organizator.ToString()))
{
<h2>Lista Turnieji</h2>
<br />
<br />
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">
				@Html.DisplayNameFor(model =>
				Model.turniejList[0].Id)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model =>
				Model.turniejList[0].Nazwa)
			</th>
			<th scope="col">Drużyny</th>
			<th scope="col">Akcja</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var turniej in Model.turniejList)
		{
			<tr>
				<th scope="row">@Html.DisplayFor(m => turniej.Id)</th>
				<td>@Html.DisplayFor(m => turniej.Nazwa)</td>
				<td>
					@if (turniej.Druzyny != null && turniej.Druzyny.Count > 0)
					{
						foreach (var druzyna in turniej.Druzyny)
						{
							<span>@druzyna.NazwaDruzyny</span>

							<br />
						}
					}
					else
					{
						<span>Brak drużyn</span>
					}
				</td>
				<td>
					<a asp-page="/Organizator/EditTurniej" asp-route-id="@turniej.Id">Edytuj</a> |
					<a asp-page="/Organizator/DeleteTurniej" asp-route-id="@turniej.Id">Usuń</a> |
				</td>
			</tr>
		}
	</tbody>
</table>
<br />
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<a asp-page="/Organizator/CreateTurniej" class="btn btn-danger btn-outline-warning">Dodaj Nowy Turniej</a>
	</div>
</div>
}
else
{
	<h2>Sekcja tylko dla organizatorów</h2>
}