@page
@model ProjektTurnieju.Pages.Kapitan.DodajZawodnikowModel

@{
    ViewData["Title"] = "Dodaj Zawodnikow";
}
@if(User.IsInRole(Role.Kapitan.ToString()))
{
<h1>Edit</h1>

<h2>Lista Zawodników</h2>
<br />
<br />
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">
				@Html.DisplayNameFor(model =>
				Model.zawodnikList[0].Imie)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model =>
				Model.zawodnikList[0].Nazwisko)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model =>
				Model.zawodnikList[0].Nick)
			</th>
			<th scope="col">Akcja</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var p in Model.zawodnikList)
		{
			if (p.CzyMaDruzyne == false && p.Rola == Role.Zawodnik)
			{
				<tr>
					<td>@Html.DisplayFor(m => p.Imie)</td>
					<td>@Html.DisplayFor(m => p.Nazwisko)</td>
					<td>@Html.DisplayFor(m => p.Nick)</td>
					<td>
							<a asp-page="/Kapitan/DodajDoDruzyny" asp-route-id="@p.Id" asp-route-idDruzyny="@Model.Druzyna.Id">Dodaj do druzyny</a>

					</td>
				</tr>
			}
		}
	</tbody>
</table>
<br />
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<a asp-page="/Kapitan/DetailsDruzyna" asp-route-id="@Model.Druzyna.Id">Back to List</a>
	</div>
</div>
}
else
{
	<h2>Sekcja tylko dla kapitanów</h2>
}